#include "resource.hpp"

0x0001 ICON "icon.ico"

0x0001 VERSIONINFO
FILEVERSION PROJECT_VERSION
PRODUCTVERSION PROJECT_VERSION
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004B0"
		{
			VALUE "FileDescription", PROJECT_DESCRIPTION
			VALUE "ProductName", PROJECT_DESCRIPTION
			VALUE "FileVersion", PROJECT_VERSION_STRING
			VALUE "ProductVersion", PROJECT_VERSION_STRING
			VALUE "LegalCopyright", PROJECT_COPYRIGHT
			VALUE "OriginalFileName", PROJECT_FILENAME
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", LANG_NEUTRAL, 0x04B0
	}
}

0x0001 RCDATA VERTEX_SHADER_FILENAME
0x0002 RCDATA PIXEL_SHADER_FILENAME
