#include "version.hpp"

#define _STR(x) #x
#define STR(x) _STR(x)
#define VER_VERSION			VER_VERSION_MAJOR, VER_VERSION_MINOR, VER_VERSION_MICRO, VER_VERSION_BUILD
#define VER_VERSION_STR		STR(VER_VERSION_MAJOR) "." STR(VER_VERSION_MINOR) "." STR(VER_VERSION_MICRO) "." STR(VER_VERSION_BUILD)

#include "winres.h"

1 ICON ICON_FILENAME

1 VERSIONINFO
FILEVERSION		VER_VERSION
PRODUCTVERSION	VER_VERSION
FILEOS			VOS_NT_WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
{
	BLOCK "StringFileInfo"
	{
		BLOCK "00000000"
		{
			VALUE "FileDescription",	VER_DESCRIPTION
			VALUE "FileVersion",		VER_VERSION_STR
			VALUE "ProductName",		VER_DESCRIPTION
			VALUE "ProductVersion",		VER_VERSION_STR
			VALUE "LegalCopyright",		VER_LEGAL_COPYRIGHT
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0, 0
	}
}
